/*Css styling for elements used on multiple pages*/

@font-face {
    font-family: myriad-regular;
    src: url(../fonts/MyriadPro-Regular.otf);
}

@font-face {
    font-family: alk-rounded-mtav;
    src: url(../fonts/alk-rounded-mtav-med-webfont.ttf);
}

@font-face {
    font-family: bpg-arial;
    src: url(../fonts/bpg_arial_2009.ttf);
}

html {
    box-sizing: border-box;
}

setTitle {
    display: none;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: myriad-regular, bpg-arial, Arial, sans-serif;
    background-image: url(../img/mainBackground.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.mybtn {
    background: teal;
    border: none;
    outline: none;
    padding: 5px 14px;
    cursor: pointer;
    color: white;
    transition: background .3s;
    font-family: 'Montserrat', myriad-regular, Helvetica, Arial, sans-serif;
}

.mybtn:hover {
    background: darkslategray;
}



.bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #444;
}

.title {
    font-family: 'Montserrat', myriad-regular, Helvetica, Arial, sans-serif;
    display: block;
    text-align: center;
}

.title-small {
    font-size: 18px;
    margin: 15px 0;
}

.title-medium {
    font-size: 22px;
    margin: 20px 0;
}
.edit-button {
    cursor: pointer;
    display: inline-block;
    outline: none;
    background: none;
    border: none;
    font-size: 18px;
    color: #666;
    transition: .1s color;
}

.edit-button:hover {
    color: black;
}

.edit-cover-button{
    color: #888;
}

.edit-cover-button:hover{
    color: white;
}