@font-face {
    font-family: myriad-regular;
    src: url(../fonts/MyriadPro-Regular.otf);
}

@font-face {
    font-family: alk-rounded-mtav;
    src: url(../fonts/alk-rounded-mtav-med-webfont.ttf);
}

@font-face {
    font-family: bpg-arial;
    src: url(../fonts/bpg_arial_2009.ttf);
}

html {
    box-sizing: border-box;
}

body {
    font-family: myriad-regular, bpg-arial,Arial, sans-serif;
    background-image: url(../img/main_background_dark.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    position:fixed;
    text-align: center;
    left:0px;
    bottom:0px;
    height:40px;
    width:100%;
}
.footer-info{
    color: rgba(255, 255, 255, 0.66);
    top: 30%;
    font-family: bpg-arial,Arial, sans-serif;
    position: relative;
    font-size: 13px;
}

.logo {
    margin: auto;
    height: 1px;
    width: 30%;
    top: 40%;
    Transform:translateY(-50%);
    position: relative;
}

.logo-img{
    width: 100%;
    top: 100%;
    Transform:translateY(-100%);
    position: relative;
}

.login-bar{
    margin: auto;
    height: 35px;
    width: 25%;
    top:42%;
    position: relative;
}

.fa{
    top:50%;
    Transform:translateY(50%);
    margin-right: 15px;
    width: 100px;
    text-align: center;
    color: #3c5a99;
    font-size: 20px;
    position: relative;
}

button {
    background: #ffffff;
    display: inline-block;
    border-radius: 4px;
    border: none;
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    cursor: pointer;
    outline: 0;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

#status{
    color: white;
    font-size: 20px;
}
