

header {
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    color: white;
    position: relative;
    margin-bottom: 20px;
    z-index: 1;
    background-color: rgba(0, 0, 0, .4);
}

.wrapper {
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.wrapper:after {
    content: "";
    display: block;
    height: 40px;
}

footer {
    text-align: center;
    height: 40px;
    margin-top: -40px;
    line-height: 40px;
}

.footer-info{
    color: rgba(255, 255, 255, 0.66);
    font-family: bpg-arial,Arial, sans-serif;
    font-size: 13px;
}

.header-left {
    float: left;

}

.header-right {
    float: right;
}

.logo-block {
    display: inline-block;
    vertical-align: middle;
}

.logo-img {
    height: 100%;
    vertical-align: initial;

}

.logo-link {
    display: block;
    height: 60px;
    position: relative;
}

.profile-block {
    position: relative;
}

.profile-link {
    display: block;
}

.avatar-block {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    background-color: #444;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.profile-block .avatar-block {
    margin-right: 10px;
}

.profile-name {
    display: inline-block;
    vertical-align: super;
    line-height: normal;
}

.logout-block {
    font-size: 10px;
    position: absolute;
    right: 0;
    bottom: 23px;
    line-height: normal;
}

aside {
    width: 30%;
    height: 100%;
    padding: 22px 15px;
    float: left;
    color: white;
}

.name-block {
    display: inline-block;
    vertical-align: middle;
}

.creator-block {
    width: 75%;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid #999;
    cursor: pointer;
}

.creator-block:hover {
    color: #ddd;
}

.creator-block .avatar-block {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    background-color: #bbb;
}

.name-text {
    font-size: 22px;
}

.nav-item {
    display: block;
    width: 75%;
}

.nav-item {
    position: relative;
    opacity: 0.7;
    transition: .2s opacity;
}

.fa-pages {
    margin-right: 15px;
    width: 20px;
    text-align: center;
}

.nav-item:hover {
    font-weight: bold;
    opacity: 1;
}

.nav-item.active {
    font-weight: bold;
    opacity: 1;
}

.nav-link {
    display: block;
    padding: 10px 0;
    vertical-align: middle;
}

main {
    width: 70%;
    float: left;
    padding: 22px 0px;
}

.main-content {
    width: 70%;
    background: white;
    padding: 10px;
}

.slider-block {
    height: 235px;
    width: 100%;
    background-image: url("../img/pic1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 20px;
}

.caption {
    height: 40px;
    width: 100%;
    background: #222;
    opacity: 0.6;
    color: white;
    line-height: 40px;
    padding: 0px 15px;
    font-size: 14px;
    font-family: alk-rounded-mtav;
    position: absolute;
    bottom: 0px;
}

.description-block {
    padding: 5px;
    background: white;
}

.description-wrapper {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
}

.description-header {
    font-size: 17px;
    padding: 10px 0px;
    padding-bottom: 15px;
    position: relative;
}

.description-header__left {
    display: inline-block;
    vertical-align: middle;
}

/*.description-header__left:after {*/
/*content: "";*/
/*width: 2px;*/
/*height: 16px;*/
/*background: black;*/
/*display: inline-block;*/
/*margin-bottom: -2px;*/
/*margin-left: 10px;*/
/*}*/

.description-header__right {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    margin-top: 7px;
    float: right;
    color: steelblue;
}

.description-body {
    display: block;
    position: relative;
    padding: 10px 0px;
    word-wrap: break-word;
    font-size: 14px;
}

.comments-count {
    font-size: 12px;
    padding: 5px 15px;
}

.comments-block {
    padding: 0 10px;
}

.comment-input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 9px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid transparent;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.comment-input:focus {
    border-color: cornflowerblue;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 1px #477164, 0 0 8px #477164;
    box-shadow: 0 0px 1px #477164, 0 0 8px #477164;
}

.add-comment form {
    width: calc(100% - 50px);
    display: inline-block;
}

.comment {
    border-top: 1px solid #bbbbbb;
    padding: 10px 0;
    font-size: 14px;
}

.comment .avatar-block {
    background-color: #ccc;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.comment-info {
    display: inline-block;
    vertical-align: text-top;
    margin-right: 15px;
    width: 20%;
}

.comment-info__lower {
    margin-top: 2px;
}

.comment-author {
    font-weight: bold;
    word-wrap: break-word;
    font-size: 13px;
    cursor: pointer;
}

.comment-author:hover {
    color: #444;
}

.comment-time {
    font-size: 11px;
    color: #bbb;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.like-block {
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    user-select: none;
}

.comment-text {
    display: inline-block;
    vertical-align: text-top;
    max-width: 60%;
    word-wrap: break-word;
}

.fa-thumbs-up {
    cursor: pointer;
    color: #ccc;
    margin-right: 3px;
}

.liked {
    color: rgb(88, 144, 255);
}

.hidden {
    display: none;
}

.new-post {
    padding-left: 10px;
}

.post-block {
    margin-bottom: 10px;
    position: relative;
}

.post-upper {
    padding: 3px 10px;
    margin-bottom: 10px;
}

.post-author-avatar {
    background-color: lightseagreen;
    width: 50px;
    height: 50px;
    margin-right: 10px;

}

.post-info {
    display: inline-block;
    vertical-align: middle;
}

.post-author-name {
    font-size: 20px;
    cursor: pointer;
    transition: color .2s;
}

.post-author-name:hover {
    color: #444;
}

.post-time {
    font-size: 12px;
    color: #aaa;
}

.post-photo{
    padding-top: 10px;
    max-width: 50%;
}

.post-photo img{
    max-width: 100%;
}

.post-text {
    padding: 0 10px;
    margin-bottom: 10px;
}

.post-form {
    width: calc(100% - 65px);
    display: inline-block;
}

.new-post-input {
    width: 100%;
    padding: 20px;
    font-size: 13px;
    border: none;
    border-left: 1px solid #ccc;
    transition: .3s outline;
}

.new-post-input-div{
    width:auto;
    overflow:hidden;
}

.new-post-img{
    background:#ccc;
    width:53px;
    height:53px;
    float:right;
}

.new-post-img img{
    width:100%;
    height:100%;
}

.new-post .post-author-avatar{
    vertical-align: top;
}

.photo-remove-button{
    cursor: pointer;
    position: absolute;
    background: white;
    width:14px;
    height:14px;
    top:7px;
    right:9px;
}

.photo-remove-button .fa{
    font-size: 15px;
}

.photo-remove-button:hover .fa{
    color: #ccc;
}

.new-post-input:focus {
    outline: 1px solid #ccc;
    border-color: transparent;
}

.hike-container {
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.hike-item {
    margin-bottom: 40px;
}

.hike-info {
    padding: 0 15px;
    position: relative;
}

.hike-info_upper {
    margin-bottom: 10px;
}

.hike-info_middle {
    margin-bottom: 10px;
}

.hike-title {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.hike-title:hover {
    font-weight: bold;
}

.hike-people {
    display: inline-block;
    color: steelblue;
    font-size: 12px;
    vertical-align: middle;
}

.submit-request {
    position: absolute;
    right: 15px;
    top: -5px;
}

.dates-block {
    font-size: 12px;
    display: inline-block;
    color: steelblue;
    vertical-align: middle;
    margin-right: 7px;
}

.new-hike-popup {
    width: 70%;
    height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 0 0 1px 1px #ccc;
    padding: 20px 30px;
    font-family: 'Montserrat', myriad-regular, Helvetica, Arial, sans-serif;
    display: none;
}

.new-hike-popup.active {
    display: block;
}

.new-hike-title {
    font-size: 24px;
    margin-bottom: 15px;
}

.new-hike-upper {
    margin-bottom: 20px;
}

.input-block {
    display: inline-block;
    margin-right: 10px;
}

.input-block:last-child {
    margin-right: 0;
}

.input-header {
    margin-bottom: 10px;
}

.new-hike-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 7px 15px !important;
    width: 100px;
    font-size: 12px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.new-hike-input:focus {
    border-color: cornflowerblue;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 1px #477164, 0 0 8px #477164;
    box-shadow: 0 0px 1px #477164, 0 0 8px #477164;

}

.hike-name-input {
    width: 200px;
}

.new-hike-input.descr{
    width: 100%;
    height: 200px;
    resize: none;
    margin-bottom: 20px;
}

.close-block {
    font-size: 40px;
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 10px;
    transition: color .15s;
}

.close-block:hover {
    color: #999;
}

.show-popup-btn {
    position: absolute;
    top: 109px;
    right: 14px;
}

.add-video-button {
    cursor: pointer;
    background: none;
    background-image: url("../img/youtube-logo.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border: none;
}

.add-video-button:focus {
    outline: none;
}

.post-popup {
    width: 300px;
    height: 100px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 0 0 1px 1px #ccc;
    padding: 20px 30px;
    font-family: 'Montserrat', myriad-regular, Helvetica, Arial, sans-serif;
    display: none;
}

.post-popup.active {
    display: block;
}

.youtube-video {
    margin-top: 10px;
}

.upload-image-button {
    cursor: pointer;
    background: none;
    background-image: url("../img/picture-logo.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border: none;
}

.upload-image-button:focus {
    outline: none;
}

input[type="file"] {
    display: none;
}

.custom-image-chooser {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    background: teal;
    color: white;
    cursor: pointer;
}

.custom-image-chooser:hover {
    background: darkslategray;
}

.members-block {
    margin-top: 20px;
    padding: 25px;
}

.profile-popup-wrapper {
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
    z-index: 100;
}

.profile-popup {
    width: 370px;
    height: 245px;
    background: white;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
}

.profile-popup:after{
    display: block;
    position: absolute;
    content: "";
    left: 10px;
    top: 20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #444;
    z-index: 100;

}

.profile-popup-wrapper.active {
    visibility: visible;
    opacity: 1;
}

.profile-popup-cover {
    height: 50%;
    margin-bottom: 20px;
}

.profile-popup-name {
    position: absolute;
    top: 45%;
    left: 38%;
    color: white;
    font-family: 'Montserrat', Helvetica, arial, sans-serif;
}

.profile-popup-prof-pic {
    width: 100px;
    height: 100px;
    margin-top: -70px;
    border: 2px solid white;
    border-radius: 2px;
    position: absolute;
    left: 20px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
    margin-right: 20px;
}



.profile-popup-info {
    float: right;
    width: 230px;
    font-size: 13px;
    font-family: 'Montserrat', Helvetica, arial, sans-serif;
    color: #444444;
}

.profile-popup .fa {
    margin-right: 10px;
}

.profile-popup-nav {
    position: absolute;
    width: 100%;
    border-top: 1px solid #ccc;
    bottom: 0;
    background: #eee;
    padding: 5px 10px;
    text-align: right;
}

.profile-popup-btn {
    background: white;
    border: 1px solid #ccc;
    font-size: 13px;
    color: #444;
}

.profile-popup-btn:hover {
    color: white;
}

.avatar-block1:after {
    content: "";;
    position: absolute;
    width: 370px;
    height: 305px;
    display: none
}

.avatar-block1.active:after {
    display: block;
}

.comment-author1:after {
    content: "";
    position: absolute;
    width: 370px;
    height: 305px;
    display: none
}

.comment-author1.active:after {
    display: block;
}


.member-block {
    width: 287px;
    padding: 15px 30px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
}

.member-block:nth-child(3n) {
    margin-right: 0;
}

.member-block .avatar-block {
    height: 70px;
    width: 70px;
}

.member-block.creator {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.member-name {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 18px;
    max-width: 60%;
}

.member-name:hover {
    color: #444;
    cursor: pointer;
}

.chats {
    position: fixed;
    bottom: 0;
    right: 0;
}

.chat {
    display: inline-block;
    vertical-align: middle;
    height: 335px;
    width: 260px;
    margin-right: 15px;
    background: white;
    border: 0;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;

}

.chat-upper {
    background: #4080ff;
    color: #eee;
    padding: 0 10px;
    height: 26px;
    line-height: 26px;
}

.chat-user-name {
    display: inline-block;
    vertical-align: middle;
    max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.chat-user-name:hover {
    text-decoration: underline;
}

.chat-close-btn {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    float: right;
}

.messages-block {
    height: 274px;
    background: white;
    padding: 10px 5px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chat-add-message {
    min-height: 35px;
}

.new-message-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 8px 10px;
    border-top: 1px solid #c9d0da;
}

.message {
    margin-bottom: 10px;
}

.message .avatar-block {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.message-text-wrapper {
    display: inline-block;
    vertical-align: text-top;
    max-width: calc(100% - 55px);
}

.message-text {
    display: inline-block;
    vertical-align: middle;
    word-wrap: break-word;
    background: #eee;
    color: #444;
    border-radius: 5px;
    padding: 5px 8px 6px;
}

.message-text-wrapper.self-message{
    display: block;
    text-align: right;
    max-width: 100%;
    padding-left: 27px; 
}

.message-text-wrapper.self-message .message-text {
    background: #4080ff;
    color: white
}

/*.chat-add-message {*/
    /*position: relative;*/
/*}*/

/*.chat-add-message textarea {*/
    /*resize: none;*/
    /*position: absolute;*/
    /*bottom:0;*/
/*}*/
