@font-face {
    font-family: myriad-regular;
    src: url(../fonts/MyriadPro-Regular.otf);
}

@font-face {
    font-family: alk-rounded-mtav;
    src: url(../fonts/alk-rounded-mtav-med-webfont.ttf);
}

@font-face {
    font-family: bpg-arial;
    src: url(../fonts/bpg_arial_2009.ttf);
}

html {
    box-sizing: border-box;
}

setTitle{
    display:none;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: myriad-regular, bpg-arial,Arial, sans-serif;
    background-image: url(../img/main_background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}


.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

header {
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    color: white;
}

.wrapper {
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.wrapper:after {
    content: "";
    display: block;
    height: 40px;
}

footer {
    background: #333;
    height: 40px;
    margin-top: -40px;
}

.header-left {
    float: left;

}

.header-right {
    float: right;
}

.logo-block {
    display: inline-block;
    vertical-align: middle;
}

.logo-img {
    height: 100%;

}

.logo-link {
    display: block;
    height: 60px;
    position: relative;
}

.profile-block {
    position: relative;
}

.profile-link {
    display: block;
}

.avatar-block {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.profile-block .avatar-block {
    margin-right: 10px;
}

.profile-name {
    display: inline-block;
    vertical-align: super;
    line-height: normal;
}

.logout-block {
    font-size: 10px;
    position: absolute;
    right: 0;
    bottom: 23px;
    line-height: normal;
}

aside {
    width: 30%;
    height: 100%;
    padding: 22px 15px;
    float: left;
    color: white;
}

.name-block {
    display: inline-block;
    vertical-align: middle;
}

.creator-block {
    width: 75%;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid #999;
}

.creator-block .avatar-block {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    background-color: #bbb;
}

.name-text {
    font-size: 22px;
}

.nav-item {
    display: block;
    width: 75%;
}

.nav-item {
    position: relative;
    opacity: 0.7;
    transition: .2s opacity;
}

.fa {
    margin-right: 15px;
    width: 20px;
    text-align: center;
}

.nav-item:hover {
    font-weight: bold;
    opacity: 1;
}

.nav-item.active {
    font-weight: bold;
    opacity: 1;
}

.nav-link {
    display: block;
    padding: 10px 0;
    vertical-align: middle;
}

main {
    width: 70%;
    float: left;
    padding: 22px 0px;
}

.main-content {
    width: 70%;
    background: white;
    padding: 10px;
}

.slider-block {
    height: 235px;
    width: 100%;
    background-image: url("../img/pic1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 20px;
}

.caption {
    height: 40px;
    width: 100%;
    background: #222;
    opacity: 0.6;
    color: white;
    line-height: 40px;
    padding: 0px 15px;
    font-size: 14px;
    font-family: alk-rounded-mtav;
    position: absolute;
    bottom: 0px;
}

.description-block {
    padding: 5px;
    background: white;
}

.description-wrapper {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
}

.description-header {
    font-size: 17px;
    padding: 10px 0px;
    padding-bottom: 15px;
    position: relative;
}

.description-header__left {
    display: inline-block;
    vertical-align: middle;
}

/*.description-header__left:after {*/
/*content: "";*/
/*width: 2px;*/
/*height: 16px;*/
/*background: black;*/
/*display: inline-block;*/
/*margin-bottom: -2px;*/
/*margin-left: 10px;*/
/*}*/

.description-header__right {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    margin-top: 7px;
    float: right;
    color: steelblue;
}

.description-body {
    display: block;
    position: relative;
    padding: 10px 0px;
    word-wrap: break-word;
    font-size: 14px;
}

.comments-count {
    font-size: 12px;
    padding: 5px 15px;
}

.comments-block {
    padding: 0 10px;
}

/*
.comments-block-inner {
    border-top: 2px solid black;
    padding: 20px 0;
}
*/

/*.add-comment input {*/
/*width:100%;*/
/*border: 4px solid rgba(0,0,0,0.1);*/
/*padding: 9px;*/
/*border-radius: 5px;*/
/*}*/

.comment-input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 9px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #bbb;
    border-radius: 5px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.comment-input:focus {
    border-color: cornflowerblue;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 1px #477164, 0 0 8px #477164;
    box-shadow: 0 0px 1px #477164, 0 0 8px #477164;
}

.add-comment form{
    width: calc(100% - 50px);
    display:inline-block;
}

.comment {
    border-top: 1px solid #bbbbbb;
    padding: 10px 0;
    font-size: 14px;
}

.comment .avatar-block {
    background-color: #ccc;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.comment-info {
    display: inline-block;
    vertical-align: text-top;
    margin-right: 15px;
    width: 20%;
}

.comment-info__lower {
    margin-top: 2px;
}

.comment-author {
    font-weight: bold;
    word-wrap: break-word;
    font-size: 13px;
}

.comment-time {
    font-size: 11px;
    color: #bbb;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.like-block {
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
}

.comment-text {
    display: inline-block;
    vertical-align: text-top;
    max-width: 60%;
    word-wrap: break-word;
}

.fa-thumbs-up {
    color: #5890FF;
    margin-right: 3px;
}