@font-face {
    font-family: myriad-regular;
    src: url(../fonts/MyriadPro-Regular.otf);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: myriad-regular, Arial, sans-serif;
    background: #ECEDF1;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

header {
    background: #28363C;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    color: white;
}

.wrapper {
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.wrapper:after {
    content: "";
    display: block;
    height: 40px;
}

footer {
    background: #333;
    height: 40px;
    margin-top: -40px;
}

.header-left {
    float: left;

}

.header-right {
    float: right;
}

.logo-block {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: -19px;
}

.logo-img {
    height: 100%;

}

.logo-link {
    display: block;
    height: 60px;
    position: relative;
}

.profile-link {
    display: block;
}

.avatar-block {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.profile-block .avatar-block {
    margin-right: 10px;
}

.profile-name {
    display: inline-block;
    vertical-align: middle;
}

aside {
    width: 530px;
    height: 100%;
    padding: 22px 15px;
}


.name-block {
    display: inline-block;
    vertical-align: middle;
}

.creator-block {
    margin-bottom: 40px;
}

.creator-block .avatar-block {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    background: #bbb;
}

.name-text {
    font-weight: bold;
    font-size: 20px;
}

.nav-item {
    display: block;
    width: 240px;

}

.nav-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    position: relative;
    color: #aaa;
}

.nav-item.active {
    font-weight: bold;
    color: black;
    border-color: black;
    border-width: 2px;
}

.nav-link {
    display: block;
    height: 100%;
    vertical-align: middle;
}